:root {
    --bg-gradient: radial-gradient(circle, rgba(63, 94, 251, 1) 30%, rgba(252, 70, 179, 1) 100%);
    --bg-color-2: rgb(63, 94, 251);
    --bg-gradient-2: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(68, 147, 252, 1) 66%);
    --color-gray: rgba(0, 0, 0, 0.691);
    --bg-gradient-3: linear-gradient(90deg, rgb(102, 152, 193) 0%, rgb(91, 138, 203) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--bg-gradient-3);
    /* background-color: #373737; */
    scroll-behavior: smooth;
    overflow-x: clip;
}

h1 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(224, 224, 224, 0.486);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(125, 125, 125, 0.691);
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

nav a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.5rem;
}

#checkbox-menu {
    display: none;
}

.icons {
    position: absoulte;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


a {
    text-decoration: none;
    /* color: white; */
}



nav a:hover,
a:active {
    text-decoration: underline;
    color: azure;
}


#home {
    margin-top: 90px;
    height: calc(60vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#home__content {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    color: rgba(227, 227, 227, 0.844);
}

#home__content h2 span {
    display: inline-block;
    animation: fade 3s infinite both;
}

#home__content h2 span:nth-child(1) {
    color: aquamarine;
    animation-direction: alternate-reverse;
}

#home__content h2 span:nth-child(2) {
    animation-direction: alternate;
    color: rgb(166, 255, 115);
}

/* 

.container {
    width: 200px;
    height: 500px;
    overflow-y: scroll;

    transform: rotate(-90deg);
    background-color: #a4ff80;
    display: flex;
}

.content {
    width: 140px;
    height: 140px;
    margin: 10px;

    background-color: #a8a8df;

    transform: rotate(90deg);
} */


#projects {
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    /* This ensures cards snap when scrolling horizontally */
    scroll-behavior: smooth;
    width: 100vw;
    height: 70vh;
    padding: 70px 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: auto;

}

#projects::-webkit-scrollbar {
    display: none;
}

.project-card {
    flex: 0 0 auto;
    width: 300px;
    /* Adjust width as needed */
    height: 100%;
    scroll-snap-align: center;
    background-color: rgba(170, 255, 244, 0.798);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 0 10px;
}





/* Center the cards for larger screens */
@media only screen and (min-width: 601px) {
    .project-card {
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
    }
}







@keyframes fade {

    0%,
    50% {
        opacity: 0;
        display: none;
    }

    100% {
        display: inline-block;
        opacity: 1;
        animation: glow 1s ease-in-out infinite alternate;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 3px #a4ff80;
    }

    to {
        text-shadow: 0 0 0px #fcffcf;
    }
}

#home__image {
    width: 30%;
}

#home__image img {
    width: 100%;
}

/* Apply for devices with width <= 600px */
@media only screen and (max-width: 600px) {

    #home {
        height: auto;
        padding: 20px 2px;
        flex-direction: column-reverse;
    }

    #home__content {
        width: 100%;
        padding: 0.5rem;
        font-size: small;
        flex-direction: column;
    }

    #home__image {
        width: 70%;
    }

    .project-card {
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
    }

}


#up-icon {
    display: none;
}

@media only screen and (max-width:768px) {
    #up-icon {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 2rem;

    }


    .icons {
        display: inline-flex;
    }

    #checkbox-menu:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #checkbox-menu:checked~.icons #close-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #checkbox-menu:checked~nav {
        height: 17.7rem;
    }

    nav a {
        display: block;
        /* cause by default 'a' tag are inline */
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}