:root {
    --bg-gradient: radial-gradient(circle, rgba(63, 94, 251, 1) 30%, rgba(252, 70, 179, 1) 100%);
    --bg-color-2: rgb(63, 94, 251);
    --bg-gradient-2: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(68, 147, 252, 1) 66%);
    --color-gray: rgba(0, 0, 0, 0.691);
    --bg-gradient-3: linear-gradient(90deg, rgb(102, 152, 193) 0%, rgb(91, 138, 203) 100%);

    --platinum: #d8dbe2ff;
    --powder-blue: #a9bcd0ff;
    --moonstone: #58a4b0ff;
    --charcoal: #373f51ff;
    --eerie-black: #1b1b1eff;

    --card-color: #6c96cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--bg-gradient-3);
    /* background-color: #373737; */
    /* background-color: var(--eerie-black); */
    scroll-behavior: smooth;
    overflow-x: clip;
    color: var(--platinum);
}

h1 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(224, 224, 224, 0.486);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(125, 125, 125, 0.691);
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

nav a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.5rem;
}

#checkbox-menu {
    display: none;
}

.icons {
    position: absoulte;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


a {
    text-decoration: none;
    /* color: white; */
}



nav a:hover,
a:active {
    text-decoration: underline;
    color: azure;
}


#home {
    margin-top: 90px;
    height: calc(60vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#home__content {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    /* color: rgba(227, 227, 227, 0.844); */
    font-size: 150%;
}

#home__content h2 span {
    display: inline-block;
    animation: fade 3s infinite both;
}

#home__content h2 span:nth-child(1) {
    color: aquamarine;
    animation-direction: alternate-reverse;
}

#home__content h2 span:nth-child(2) {
    animation-direction: alternate;
    color: rgb(166, 255, 115);
}

/* 

.container {
    width: 200px;
    height: 500px;
    overflow-y: scroll;

    transform: rotate(-90deg);
    background-color: #a4ff80;
    display: flex;
}

.content {
    width: 140px;
    height: 140px;
    margin: 10px;

    background-color: #a8a8df;

    transform: rotate(90deg);
} */


#projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}


.project-card {
    position: absolute;
    width: 300px;
    height: 400px;
    /* background: rgb(238, 238, 238); */
    background: var(--card-color);
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px dashed #000;
    transition: transform 0.3s ease-out;
    cursor: grab;
    will-change: transform;
    user-select: none;
}

.project-card:active {
    cursor: grabbing;
    transition: none;
}

.project-card:not(:first-child) {
    opacity: 1;
}

.project-card:first-child {
    opacity: 1;
}

#liked__projects {
    width: 100vw;
    height: 0;
    padding: 0px;
    will-change: height;
    /* background-color: rgb(102, 152, 193); */
    /* overflow-x: scroll;
    display: flex;
    overflow: auto;
    white-space: nowrap; */
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* background-color: rgba(84, 133, 174, 0.913);  */
    /* box-shadow: 0 0 10px #626262; */
    gap: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    flex-wrap: nowrap;
    /* margin-top: 1rem; */
    /* box-shadow: 0 0 10px #1919197a; */
    border-radius: 2px;
}



.card {
    /* position: absolute; */
    width: 300px;
    height: 400px;
    background: var(--card-color);
    backdrop-filter: blur(50px);
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    user-select: none;
    box-shadow: -2px -2px 5px #1d1d1d7c;
}

.card img {
    width: 75%;
}

#about {
    padding: 0.8rem 5rem;
}

#about h2 {
    text-decoration: underline;
}

#about p {
    margin-top: 10px;
}



#contact {
    padding: 0.8rem 5rem;
    display: flex;
    flex-direction: column;
}

#contact h2 {
    text-decoration: underline;
}

#contact form {
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    width: 100%;
}

#message {
    width: 100%;
    border-radius: 5px;
    height: 10rem;
}

#contact form input {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #628df1a4;
    color: #fcffcf;
}

#contact form textarea {
    padding: 1rem 1rem;
}

/* Center the cards for larger screens */
@media only screen and (min-width: 601px) {
    .project-card {
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
    }
}







@keyframes fade {

    0%,
    50% {
        opacity: 0;
        display: none;
    }

    100% {
        display: inline-block;
        opacity: 1;
        animation: glow 1s ease-in-out infinite alternate;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 3px #a4ff80;
    }

    to {
        text-shadow: 0 0 0px #fcffcf;
    }
}

#home__image {
    width: 30%;
}

#home__image img {
    width: 100%;
}

/* Apply for devices with width <= 600px */
@media only screen and (max-width: 600px) {

    #home {
        height: auto;
        padding: 20px 2px;
        flex-direction: column-reverse;
    }

    #home__content {
        width: 100%;
        padding: 0.5rem;
        font-size: small;
        flex-direction: column;
        font-size: 85%;
    }

    #home__image {
        width: 70%;
    }

    .project-card {
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
    }

    #about {
        padding: 0.8rem;
    }

    #contact {
        padding: 0.8rem;
    }

}


#up-icon {
    display: none;
}

.project-card img {
    user-select: none;
    width: 70%;
}

@media only screen and (max-width:945px) {


    #home {
        height: auto;
        padding: 20px 2px;
        flex-direction: column-reverse;
    }

    #home__content {
        width: 100%;
        padding: 0.5rem;
        font-size: small;
        flex-direction: column;
        font-size: 85%;
    }

    #home__image {
        width: 70%;
    }

    .project-card {
        margin-left: calc((100vw - 300px) / 2);
        margin-right: calc((100vw - 300px) / 2);
    }

    .project-card img {
        width: 70%;
    }



    #up-icon {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 2rem;

    }

    header {
        padding: 1rem 5%;
    }

    .icons {
        display: inline-flex;
    }

    #checkbox-menu:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #checkbox-menu:checked~.icons #close-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #checkbox-menu:checked~nav {
        height: 17.7rem;
    }

    nav a {
        display: block;
        /* cause by default 'a' tag are inline */
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}